.idea/

__pycache__/
*.pyc

core/.env
core/transfer/

.env
.venv/
.python-version

logs.lock

frontend/node_modules/

transfer/
telegram_bot.session

releases
build/
dist/
frontend/dist/
api/
frontend/src-tauri/target/
frontend/src-tauri/resources/backend/

*.deb
*.rpm
*.AppImage
*.msi
*.exe